@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Inter',sans-serif;
  background-color: #f1f5f9;  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_container {
 width: 80%;
  margin: 120px auto;
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border-radius: 20px;

  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.05),
    0 2px 6px rgba(0, 0, 0, 0.03);
}

progress {
  width: 50%;
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #e5e7eb; 
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background: linear-gradient(90deg, #4f46e5, #22c55e);
  border-radius: 8px;
  transition: width 0.3s ease;
}

progress::-moz-progress-bar {
  background: linear-gradient(90deg, #4f46e5, #22c55e);
  border-radius: 8px;
}

