.list_container {

    display: flex;
    width: 50%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: #f9fafb;
    border-radius: 14px;
    box-shadow: 
    0 1px 2px rgba(0,0,0,0.04),
    0 6px 14px rgba(0,0,0,0.06)
    ;
    transition: all 0.2s ease;
      overflow-y: auto; 

}
.list_container:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05),
    0 10px 18px rgba(0,0,0,0.08);
}
.task_div input[type="checkbox"] {
       width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 6px;
}
.task_div input[type="checkbox"]:checked{
 
    accent-color:  #4f46e5;
}
.task_div h2 {
    font-size: 16px;
    font-weight: 500;
    color: #111827;
}
.task_div {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    margin-left: 20px;
}
.icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}
.icon_div svg {
    cursor: pointer;
    padding: 6px;
    font-size: 24px;
  
}
.icon_div svg:hover {
    background: #f3f4f6;
}
.completed {
  text-decoration: line-through;
  color: #9ca3af;          
  opacity: 0.7;
}